<form action="/auth/signup" method="POST">
  <h3 class="welcome-signup">Welcome, Let's get started</h3>
  <p class="welcome-signup-message">Please Sign Up</p>
  <div class="form-row">
    <div class="form-item">
      <label for="new-email">Email Adress</label>
      <input type="email" class="form-control" id="new-email" name="email" aria-describedby="emailHelp">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="new-name">UserName</label>
      <input type="text" class="form-control" id="new-name" name="name" aria-describedby="emailHelp">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="new-password">Password</label>
      <input type="password" class="form-control" id="new-password" name="password" min="8">
    </div>
  </div>
  <div class="btn-row">
    <button type="submit" id="signup-button" class="btn btn-primary">Create Account</button>
  </div>
</form>


