<footer class="page-footer">
    <h3>Follow Us On Social Media</h3>
    <a href="https://www.facebook.com/abinash.mudbhari.37/"><i class="fab fa-facebook fa-3x yellow-text darken-3"></i></a>
    <a href="https://twitter.com/MudbhariAbinash/"><i class="fab fa-twitter fa-3x yellow-text darken-3"></i></a>
    <a href="https://www.instagram.com/_a.b.h.i_n.a.s.h_//"><i class="fab fa-instagram fa-3x yellow-text darken-3"></i></a>
    <a href="https://github.com/settings/profile/"><i class="fab fa-github fa-3x yellow-text darken-3"></i></a>
    <a href="https://www.linkedin.com/in/abinash-mudbhari-5833421b4/"><i class="fab fa-linkedin fa-3x yellow-text darken-3"></i></a>
    <p class="copyright">Copyright&copy; 2021 Stock Pile. All Rights Reserved.</p>
</footer>