<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/images/amazon.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/background4.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/microsoft.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h3 class="display-4 font-weight-normal">Inventory Management</h3>
    <p class="lead font-weight-normal">The goal is not to improve one measurement in isolation. The goal is to reduce operational expenses AND reduce inventories and increase throughput simultaneously.</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Stock Pile</h1>
    <p class="lead text-muted">Website for the small business that can use the website to manage the stock and keep record the bill of order that are made.</p>
    <p>
      <a href="/business/new" class="btn btn-primary my-2">Create Business</a>
      <a href="/order/new" class="btn btn-secondary my-2">Create Order</a>
    </p>
  </div>
</section>

