<h2 class="page-header">Errorrrr............</h2>

<iframe src="https://giphy.com/embed/TqiwHbFBaZ4ti" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/error-TqiwHbFBaZ4ti">via GIPHY</a></p>