<%- include("partials/header") %> 

<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Inventory Control <span class="text-muted">Check that out.</span></h2>
    <p class="lead">An inventory control system is used to keep inventories in a desired state while continuing to adequately supply customers, and its success depends on maintaining clear records on a periodic or perpetual basis
      Inventory management software often plays an important role in the modern inventory control system, providing timely and accurate analytical, optimization, and forecasting techniques for complex inventory management problems.
    </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="images/inventory-management-word-cloud-concept-grey-background-90880087.jpg" style="height:300px;" data-holder-rendered="true">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
    <p class="lead">It improves the liquidity position of the firm by reducing unnecessary tying up of capital in excess inventories.It ensures smooth production operations by maintaining reasonable stocks of materials.
      It facilitates production scheduling, avoids shortage of materials and duplicate ordering. It helps to minimise loss by obsolescence, deterioration, damage, etc.It enables the firms to take advantage of price fluctuations through economic lot buying when prices are low.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="height:300px;" src="images/56357274-corporate-data-management-system-dms-and-document-management-system-concept-businessman-publish-docu.jpg" data-holder-rendered="true">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
    <p class="lead">Categorizing your inventory into priority groups can help you understand which items you need to order more of and more frequently, and which are important to your business but may cost more and move more slowly.
      Make sure to keep records of the product information for items in your inventory. This information should include SKUs, barcode data, suppliers, countries of origin and lot numbers.
    </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" style="height:300px;" alt="500x500" src="images/tips-for-effective-stock-control-and-inventory-management.jpg" data-holder-rendered="true">
  </div>
</div>
<hr class="featurette-divider">



