<%- include("partials/header") %> 


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat enim unde excepturi alias nesciunt tenetur, provident est dolorem natus libero quasi quisquam odit consequuntur voluptate cumque eligendi sunt aut?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat enim unde excepturi alias nesciunt tenetur, provident est dolorem natus libero quasi quisquam odit consequuntur voluptate cumque eligendi sunt aut?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat enim unde excepturi alias nesciunt tenetur, provident est dolorem natus libero quasi quisquam odit consequuntur voluptate cumque eligendi sunt aut?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat enim unde excepturi alias nesciunt tenetur, provident est dolorem natus libero quasi quisquam odit consequuntur voluptate cumque eligendi sunt aut?</p>

<div class="business-grid">
    <div class="business-child">
        <div class="col">
            <img src="/images/stockm.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod consequatur quia hic, aperiam repudiandae modi nesciunt rem itaque ipsam beatae rerum qui corporis ipsa vitae voluptates commodi id dolorum dignissimos!</p>
        </div>
        <div class="col">
            <img src="/images/stockm.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod consequatur quia hic, aperiam repudiandae modi nesciunt rem itaque ipsam beatae rerum qui corporis ipsa vitae voluptates commodi id dolorum dignissimos!</p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <img src="/images/stockm.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod consequatur quia hic, aperiam repudiandae modi nesciunt rem itaque ipsam beatae rerum qui corporis ipsa vitae voluptates commodi id dolorum dignissimos!</p>
        </div>
        <div class="col">
            <img src="/images/stockm.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod consequatur quia hic, aperiam repudiandae modi nesciunt rem itaque ipsam beatae rerum qui corporis ipsa vitae voluptates commodi id dolorum dignissimos!</p>
        </div>
      </div>    
</div>
