<h1>Are you sure you want to delete? </h1>
<form method="POST" action="/business/<%= profile.id %>/?_method=DELETE" class="business-dlt-btn">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>