<h2 class="page-header">Are you sure you want to delete? </h2>
<form method="POST" action="/business/<%= profile.id %>/?_method=DELETE" class="business-dlt-btn">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>