
<form action="/business/new" method="POST" class="bform" enctype="multipart/form-data">
  <h3 class="welcome-login-message">Welcome</h3>
  <p class="welcome-login-sign-in">Start a Business</p>
  <div class="form-row">
    <div class="form-item">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-item">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type" name="type" required>
    </div>
  </div>
  <div>
    <label>Image</label>
    <input type="file" name="businessimg" required>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" required></textarea>
    </div>
  </div>
  <div class="btn-row">
    <a class="btn btn-danger" href="/business">Cancel</a>
    <button type="submit" id="login-button" class="btn btn-primary">Create</button>
  </div>
</form>