<div class="itemOrderForm">
    <form action="/order/items/<%= item.id %>" method="POST" class="ioform">
      <p class="welcome-login-sign-in">Add to order</p>
      <div class="form-row">
        <div class="form-item">
          <label for="orderQ">Quantity of Packages</label>
          <input type="integer" class="form-control" id="orderQ" name="orderQ" required>
        </div>
      </div>
      <input hidden type="integer" class="form-control" id="itemId" name="itemId" value="<%= item.id %>">
      <div class="form-row">
        <div class="form-item">
          <label for="orderId">Input Order Id Number</label>
          <h3>Orders:</h3>
          <% order.forEach((ord) => { %>
              <p><%= ord.orderName %> with order id no: <%= ord.id %> </p>
          <% }) %>  
          <input type="integer" class="form-control" id="orderId" name="orderId" required>
        </div>
      </div>
      <div class="btn-row">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
</div>