<div class="itemOrderForm">
    <form action="/order/items/<%= item.id %>" method="POST" class="ioform">
      <p class="welcome-login-sign-in">Add to order</p>
      <div class="form-row">
        <div class="form-item">
          <label for="orderQ">Quantity of Packages</label>
          <input type="integer" class="form-control" id="orderQ" name="orderQ" required>
        </div>
      </div>
      <input hidden type="integer" class="form-control" id="itemId" name="itemId" value="<%= item.id %>">
      <div class="form-row">
        <div class="form-group">
            <div class="form-item">
                <label for="orderId">Orders</label>
                <select type="integer" class="selectpicker" id="orderId" name="orderId" required>
                  <% order.forEach((ord) => { %>
                    <option value="<%= ord.id %>"><%= ord.orderName %></option>
                  <% }) %>  
                </select>
            </div>
        </div>
      </div>
      <div class="btn-row">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
</div>