<h2 class="page-header">Update Quantity here</h2>

<form action="/order/<%= order.id %>/itemupdate/?_method=PUT" method="POST" class="rform">
    <button type="submit" id="button" class="btn btn-primary">Update</button>
</form>
