<h2 class="page-header">Update Quantity here</h2>

<!-- <div class="">
    <form action="/order//ready/?_method=PUT" method="POST" class="rform">
        <input hidden type="integer" class="form-control" id="totalPrice" name="totalPrice" value="<%= total_price %>">
        <input hidden type="boolean" class="form-control" id="complete" name="complete" value="<%= y %> ">
        <button type="submit" id="button" class="btn btn-primary">Order Now</button>
    </form>
</div> -->