<div class="items">
    <form action="/items/<%= pid %>/new" method="POST" class="iform">
      <h3 class="welcome">Add Item</h3>
      <div class="form-group">
        <label for="name"></label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Item Name">
      </div>
      <div class="form-group">
        <label for="itemimg">Choose Img</label>
        <input type="file" class="form-control-file filepond" id="itemimg">
      </div>
      <div class="form-group">
        <label for="quantityOfPackage">QuantityOfPackage</label>
        <input type="integer" class="form-control" id="quantityOfPackage" name="quantityOfPackage">
      </div>
      <div class="form-group">
        <label for="quantityOfitemsPerPackage">quantityOfitemsPerPackage</label>
        <input type="integer" class="form-control" id="quantityOfitemsPerPackage" name="quantityOfitemsPerPackage">
      </div>
      <div class="form-group">
        <label for="totalCP">totalCP</label>
        <input type="integer" class="form-control" id="totalCP" name="totalCP">
      </div>
      <div class="form-group">
        <label for="sellingPricePerPackage">sellingPricePerPackage</label>
        <input type="integer" class="form-control" id="sellingPricePerPackage" name="sellingPricePerPackage">
      </div>
      <div class="form-group">
        <label for="sellingPricePerItem">sellingPricePerItem</label>
        <input type="integer" class="form-control" id="sellingPricePerItem" name="sellingPricePerItem">
      </div>
      <div class="form-group">
        <label for="costPricePerPackage">costPricePerPackage</label>
        <input type="integer" class="form-control" id="costPricePerPackage" name="costPricePerPackage">
      </div>
      <button type="submit" id="login-button" class="btn btn-primary">Add</button>
    </form>
  </div>