<form action="/business/<%= pid %>/new" method="POST" class="iform" enctype="multipart/form-data">
  <h3 class="welcome">Add Item</h3>
  <div class="form-row">
    <div class="form-item">
      <label for="name"></label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
  </div>
  <div class="form-row">
    <div class="">
      <label for="itemimg">Image</label>
      <input type="file" class="form-control-file" name="itemimg" id="itemimg" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="totalCP">Total CostPrice </label>
      <input type="integer" class="form-control" id="totalCP" name="totalCP" required>
    </div>
    <div class="form-item">
      <label for="costPricePerPackage">CostPrice/Package </label>
      <input type="integer" class="form-control" id="costPricePerPackage" name="costPricePerPackage" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="quantityOfPackage">Package Quantity </label>
      <input type="integer" class="form-control" id="quantityOfPackage" name="quantityOfPackage" required>
    </div>
    <div class="form-item">
      <label for="sellingPricePerPackage">SellingPrice/Package </label>
      <input type="integer" class="form-control" id="sellingPricePerPackage" name="sellingPricePerPackage" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="quantityOfitemsPerPackage">Items/Packages </label>
      <input type="integer" class="form-control" id="quantityOfitemsPerPackage" name="quantityOfitemsPerPackage" required>
    </div>
    <div class="form-item">
      <label for="sellingPricePerItem">SellingPrice/Item </label>
      <input type="integer" class="form-control" id="sellingPricePerItem" name="sellingPricePerItem" required>
    </div>
  </div> 
  <button type="submit" id="login-button" class="btn btn-primary">Add</button>
</form>
