<form action="/business/<%= pid %>/new" method="POST" class="iform" enctype="multipart/form-data">
  <h3 class="welcome">Add Item</h3>
  <div class="form-row">
    <div class="form-item">
      <label for="name"></label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Item Name">
    </div>
  </div>
  <div class="form-row">
    <div class="">
      <label for="itemimg">Img</label>
      <input type="file" class="form-control-file" name="itemimg" id="itemimg">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="quantityOfPackage">Package Quantity: </label>
      <input type="integer" class="form-control" id="quantityOfPackage" name="quantityOfPackage">
    </div>
    <div class="form-item">
      <label for="quantityOfitemsPerPackage">Total Items in Packages: </label>
      <input type="integer" class="form-control" id="quantityOfitemsPerPackage" name="quantityOfitemsPerPackage">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="totalCP">Total CP: </label>
      <input type="integer" class="form-control" id="totalCP" name="totalCP">
    </div>
    <div class="form-item">
      <label for="sellingPricePerPackage">SP per Package: </label>
      <input type="integer" class="form-control" id="sellingPricePerPackage" name="sellingPricePerPackage">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="sellingPricePerItem">SP per Item: </label>
      <input type="integer" class="form-control" id="sellingPricePerItem" name="sellingPricePerItem">
    </div>
    <div class="form-item">
      <label for="costPricePerPackage">CP per Package: </label>
      <input type="integer" class="form-control" id="costPricePerPackage" name="costPricePerPackage">
    </div>
  </div> 
  <button type="submit" id="login-button" class="btn btn-primary">Add</button>
</form>
